**/.env
forumchatbot
web app
INzdg_TV7NM6bAcQU-sWRQ
secret	luzjBYenx5pTPKlV4lf_vjEM2VBZAw
import praw
reddit = praw.Reddit
    client_id=INzdg_TV7NM6bAcQU-sWRQ
    client_secret=luzjBYenx5pTPKlV4lf_vjEM2VBZAw
    user_agent="ForumChatBot/1.0 by sobeck1001

